<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WEB16</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>cn.utils.CheckImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/checkImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckLoginServlet</display-name>
    <servlet-name>CheckLoginServlet</servlet-name>
    <servlet-class>cn.web.CheckLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLoginServlet</servlet-name>
    <url-pattern>/checkLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addStudentServlet</display-name>
    <servlet-name>addStudentServlet</servlet-name>
    <servlet-class>cn.web.addStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStudentServlet</servlet-name>
    <url-pattern>/addStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentCheckServlet</display-name>
    <servlet-name>studentCheckServlet</servlet-name>
    <servlet-class>cn.web.studentCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentCheckServlet</servlet-name>
    <url-pattern>/studentCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getCategoryServlet</display-name>
    <servlet-name>getCategoryServlet</servlet-name>
    <servlet-class>cn.web.getCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getCategoryServlet</servlet-name>
    <url-pattern>/getCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateStudentServlet</display-name>
    <servlet-name>updateStudentServlet</servlet-name>
    <servlet-class>cn.web.updateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateStudentServlet</servlet-name>
    <url-pattern>/updateStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatePhoServlet</display-name>
    <servlet-name>updatePhoServlet</servlet-name>
    <servlet-class>cn.web.updatePhoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatePhoServlet</servlet-name>
    <url-pattern>/updatePho</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getPhoServlet</display-name>
    <servlet-name>getPhoServlet</servlet-name>
    <servlet-class>cn.web.getPhoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getPhoServlet</servlet-name>
    <url-pattern>/getPho</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatePasswordServlet</display-name>
    <servlet-name>updatePasswordServlet</servlet-name>
    <servlet-class>cn.web.updatePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatePasswordServlet</servlet-name>
    <url-pattern>/updatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showAllStudentServlet</display-name>
    <servlet-name>showAllStudentServlet</servlet-name>
    <servlet-class>cn.web.showAllStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showAllStudentServlet</servlet-name>
    <url-pattern>/showAllStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteStudentByIdServlet</display-name>
    <servlet-name>deleteStudentByIdServlet</servlet-name>
    <servlet-class>cn.web.deleteStudentByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteStudentByIdServlet</servlet-name>
    <url-pattern>/deleteStudentById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findStudentByConditionServlet</display-name>
    <servlet-name>findStudentByConditionServlet</servlet-name>
    <servlet-class>cn.web.findStudentByConditionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findStudentByConditionServlet</servlet-name>
    <url-pattern>/findStudentByCondition</url-pattern>
  </servlet-mapping>
</web-app>